.productItem {
  position: relative;
  padding: 1rem;
}

.productItem:hover::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3a3a3a;
  opacity: .72;
}

.productItem img {
  height: 300px;
  width: 100%;
  padding-bottom: 1rem;
}

.productContent {
  padding: 5px;
  max-width: 350px;
}

.productItem h3 {
  color: #3a3a3a;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 8px;
}

.productItem p {
  color: #898989;
  line-height: 150%;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.productItem span {
  color: #3a3a3a;
  line-height: 150%;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.actions > span,
.actions > a {
  cursor: pointer;
  background-color: #fff;
  width: 202px;
  height: 48px;
  margin: 0 auto 0 auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  color: #B88E2F;
  transition: .3s;
}

.actions > span:hover,
.actions > a:hover {
  background-color: #B88E2F;
  color: #fff;
}

.actions span,
.actions a {
  font-size: inherit;
  font-weight: 600;
  color: inherit;
  margin-top: 30px;
}

.actions .toFavorite {
  max-width: 80px;
  width: 100%;
  height: 50px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 59%;
  left: 50%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}

.actions img {
  width: 30px;
  height: 45px;
  margin-top: 1rem;
  cursor: pointer;
  transition: .3s;
}

.actions img:hover {
  scale: 1.2;
}

.actions a {
  top: 42%;
}

/*
@media (max-width: 1100px) {
  .actions {
    left: 27%;
  }
}

@media (max-width: 950px) {
  .actions {
    left: 25%;
  }
}

@media (max-width: 876px) {
  .actions {
    left: 20%;
  }
}
*/

@media (max-width: 768px) {
  .productItem {
    max-width: 500px;
    width: 100%;
  }

  /*
  .actions {
    left: 29%;
  }
  */
}

/*
@media (max-width: 560px) {
  .actions {
    left: 27%;
  }
}

@media (max-width: 510px) {
  .actions {
    left: 23%;
  }
}

@media (max-width: 450px) {
  .actions {
    left: 20%;
  }
}

*/