.globalBtn {
  background-color: #B88E2F;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  max-width: 222px;
  width: 100%;
  height: 74px;
  border: none;
  cursor: pointer;
  transition: .4s;
}

.globalBtn:hover {
  border: 1px solid #B88E2F;
  background-color: #fff;
  color: #B88E2F;
  border-radius: .5rem;
}

@media (max-width: 576px) {
  .globalBtn {
    max-width: 150px;
    height: 50px;
  }
}