.category img {
  margin-bottom: 30px;
  width: 100%;
}

.category h3 {
  text-align: center;
  color: #333;
  font-size: 1.5rem;
  font-weight: 600;
}

@media (max-width: 600px) {
  .category img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 300px;
    object-fit: contain;
    margin-bottom: 1rem;
    padding-top: 1.5rem;
  }

  .category h3 {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #666;
  }
}