.form {
  display: flex;
  flex-direction: column;
  max-width: 530px;
  width: 100%;
  margin: 0 auto;
}

.form label {
  display: block;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 22px;
}

.form input {
  resize: none;
  border: 1px solid #9f9f9f;
  color: #9f9f9f;
  max-width: 528px;
  width: 100%;
  height: 75px;
  border-radius: 10px;
  font-size: 1rem;
  padding-left: 32px;
  margin-bottom: 36px;
  transition: .3s;
}

.form input:focus,
.form input:hover {
  outline: none;
  box-shadow: 0 2px 0 0 #B88E2F;
  border-color: #B88E2F;
}

.signupAndLogin {
  display: flex;
  align-items: center;
  max-width: 350px;
  gap: 1rem;
}

.submit {
  background-color: #B88E2F;
  color: #fff;
  max-width: 237px;
  width: 100%;
  height: 55px;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid transparent ;
  cursor: pointer;
  transition: .3s;
  margin: 0 auto;
}

.login {
  color: #B88E2F;
  font-weight: 600;
  border: 1px solid #B88E2F;
  padding: .5rem 1rem;
  border-radius: 10px;
  transition: .3s;
}

.login:hover {
  background-color: #B88E2F;
  color: #fff;
}

.submit:hover {
  background-color: #fff;
  color: #B88E2F;
  border: 2px solid #B88E2F;
  font-weight: 600;
}